html, 
body {
  font-family: Arial, sans-serif;
}
.btn-primary{
    width: 240px;
    height: 60px;
    margin-top: 8px;
}
ul{
  list-style-type: none;
  margin: auto;
}
.pokemon-list{
    width: fit-content;
    height: auto;
    border: 5px solid blue;
    border-radius: 5px;
    padding: 10px;
}
.list-group-item {
  margin-left: 8px;
}
.img-container {
  width: 200px;
  height: 200px;
}
.navbar {
  margin: 5px;
  background-color: grey;
}
#button-random {
  margin-bottom: 10px;
  background-color: blue;
  color: yellow;
  font-weight: bold;
}